parameters:
    json_schema.generator.class:                                           "Knp\\JsonSchemaBundle\\Schema\\SchemaGenerator"
    json_schema.builder.class:                                             "Knp\\JsonSchemaBundle\\Schema\\SchemaBuilder"
    json_schema.reflection_factory.class:                                  "Knp\\JsonSchemaBundle\\Schema\\ReflectionFactory"
    json_schema.builder.handler.form_type_guesser_handler.class:           "Knp\\JsonSchemaBundle\\Property\\FormTypeGuesserHandler"
    json_schema.builder.handler.extra_validator_constraints_handler.class: "Knp\\JsonSchemaBundle\\Property\\ExtraValidatorConstraintsHandler"
    json_schema.builder.handler.annotation.class:                          "Knp\\JsonSchemaBundle\\Property\\JsonSchemaAnnotationHandler"
    doctrine.annotations.reader.class:                                     "Doctrine\\Common\\Annotations\\AnnotationReader"
    doctrine.annotations.cached_reader.class:                              "Doctrine\\Common\\Annotations\\CachedReader"
    doctrine.common.apc_cache.class:                                       "Doctrine\\Common\\Cache\\ApcCache"
    json_schema.validator.class:                                           "JsonSchema\\Validator"
    form.chain.guesser.class:                                              "Symfony\\Component\\Form\\FormTypeGuesserChain"
    json_schema.registry.class:                                            "Knp\\JsonSchemaBundle\\Schema\\SchemaRegistry"

services:
    json_schema.generator:
        class: %json_schema.generator.class%
        arguments:
            - @json_schema.validator
            - @json_schema.builder
            - @json_schema.reflection_factory

    json_schema.builder:
        public: false
        class: %json_schema.builder.class%

    json_schema.reflection_factory:
        public: false
        class: %json_schema.reflection_factory.class%
        arguments:
            - @finder
            - @filesystem

    finder:
        public: false
        class: "Symfony\\Component\\Finder\\Finder"

    filesystem:
        public: false
        class: "Symfony\\Component\\Filesystem\\Filesystem"

    json_schema.registry:
        public: false
        class: %json_schema.registry.class%

    json_schema.validator:
        public: false
        class: %json_schema.validator.class%

    json_schema.builder.handler.annotation:
        public: false
        class: %json_schema.builder.handler.annotation.class%
        arguments:
            - @doctrine.annotations.cached_reader
            - @json_schema.reflection_factory
        tags:
            - { name: json_schema.builder.handler, priority: 20 }

    json_schema.builder.handler.chained_guesser:
        public: false
        class: %json_schema.builder.handler.form_type_guesser_handler.class%
        arguments:
            - @form.chain.guesser
        tags:
            - { name: json_schema.builder.handler, priority: 10 }

    json_schema.builder.handler.extra_validator_constraints_handler:
        public: false
        class: %json_schema.builder.handler.extra_validator_constraints_handler.class%
        arguments:
            - @validator.mapping.class_metadata_factory
        tags:
            - { name: json_schema.builder.handler, priority: 0 }

    form.chain.guesser:
        public: false
        class: %form.chain.guesser.class%
        arguments:
            - [@form.type_guesser.validator, @form.type_guesser.doctrine]

    doctrine.annotations.cached_reader:
        public: false
        class: %doctrine.annotations.cached_reader.class%
        arguments:
            - @doctrine.annotations.reader
            - @doctrine.common.apc_cache
            - true

    doctrine.annotations.reader:
        public: false
        class: %doctrine.annotations.reader.class%

    doctrine.common.apc_cache:
        public: false
        class: %doctrine.common.apc_cache.class%
